{% load staticfiles %}
<html>
     <head>
         <title>My blog</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
         <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
         <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet">
         <link rel="stylesheet" href="{% static 'css/blog.css' %}">

     </head>
     <body>

       <div class="page-header">

                <h1><a href="/">My blog</a></h1>
            </div>
            <ul>
       <li><a href="{% url 'post_list' %}">Blog</a></li>
       <li><a href="{% url 'gallery' %}">Gallery</a></li>
       <li><a href="{% url 'about_me' %}">About me</a></li>
       <li><a href="{% url 'contact' %}">Contact</a></li>
     </ul>
      <div class="content container">
          <div class="row">
              <div class="col-md-8">
              {% block content %}
              {% endblock %}
              </div>
          </div>
      </div>

 </body>
</html>
