body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.content {
     margin-left: 250px;
}
.date {
    float: right;
    color: #828282;
}

.comment {
    margin: auto;
    max-width: 1400px;
    border: 3px outset #d1cccc;
    background-color:  #cccccc;

}
.post {
  max-width: 1400px;
background-color:  #cccccc;
margin: auto;
border: 3px outset #d1cccc;
margin-bottom: 5px;
margin-top: 5px;
}
